* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.background-color {
  width: 100%;
  min-height: 100vh;
  display: flex;
}
.bg-1 {
  flex: 1;
  background: linear-gradient(
    50deg,
    rgb(23, 3, 114),
    white,
    rgb(248, 247, 252)
  );
}

.about-container {
  width: 90%;
  min-height: 90vh;
  position: absolute;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 5px 5px 20px black;
}
.image-container {
  /* background-image: url("./images.jpg"); */
  /* background-color: chartreuse; */
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}
.image-container img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}
.text-container {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.text-container h1 {
  font-size: 50px;
  padding: 10px 0px;
  text-transform: uppercase;

  padding-left: 50%;
}
.text-container p {
  font-size: 18px;
  padding: 10px 0px;
  padding-left: 8%;
  padding-right: 8%;
}
.text-container a {
  text-decoration: none;
  padding: 12px;
  border: 2px solid;
  margin-top: 30px;
  background: linear-gradient(45deg, rgb(5, 87, 5), rgb(5, 5, 129));
  color: beige;
  font-size: 20px;
  border-radius: 10px;
  transition: 0.3s all ease-in-out;
  margin-left: 60%;
}
.text-container a:hover {
  background-color: transparent;
  color: black;
  border: 2px solid rebeccapurple;
}

@media screen and (max-width: 1600px) {
  .about-container {
    width: 95%;
  }
  .image-container img {
    width: 70%;
    height: 70%;
  }
  .text-container h1 {
    font-size: 50px;
  }
}
@media screen and (max-width: 1100px) {
  .about-container {
    flex-direction: column;
  }
  .text-container {
    align-items: center;
  }

  .text-container p {
    font-size: 20px;
  }
}
@media screen and(max-width:550px) {
  .image-container img {
    width: 200px;
    height: 200px;
  }
  .text-container p {
    font-size: 20px;
  }
}
